body{
    margin:0;
    padding:0;
    background:#ece8e1;
    font-family:tahoma;
    direction:rtl;
}

/* هدر */

.header{
    width:100%;
    height:120px;
    background:#f5f0e8;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px;
    box-sizing:border-box;
}

.logo{
    font-size:50px;
    font-weight:bold;
    color:#4b2e1e;
}

.title{
    font-size:35px;
    color:#4b2e1e;
}

/* صفحه اصلی */

.container{
    display:flex;
}

/* منوی کناری */

.sidebar{
    width:90px;
    background:#e7dfd4;
    min-height:100vh;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:20px;
    gap:30px;
}

/* بخش نوشیدنی ها */

.content{
    flex:1;
    padding:20px;

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

/* کارت */

.card{
    width:250px;
    background:white;
    border-radius:20px;
    padding:20px;
    text-align:center;

    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card img{
    width:180px;
    height:180px;
    object-fit:contain;
}

.card h2{
    color:#4b2e1e;
}

.price{
    font-size:25px;
    font-weight:bold;
}