<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ویرایش نوشیدنی</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="login-box">

        <h1>ویرایش نوشیدنی</h1>

        <form method="POST" enctype="multipart/form-data">

            <input type="text"
                   name="name"
                   value="{{ drink.name }}"
                   placeholder="اسم نوشیدنی">

            <input type="number"
                   name="price"
                   value="{{ drink.price }}"
                   placeholder="قیمت">

            <p>عکس فعلی:</p>

            <img src="{{ url_for('static', filename='uploads/' + drink.image) }}"
                 style="width:120px;height:120px;object-fit:contain;margin-bottom:15px;">

            <input type="file"
                   name="image">

            <input type="text"
                   name="category"
                   value="{{ drink.category }}"
                   placeholder="دسته بندی">

            <button type="submit">
                ذخیره تغییرات
            </button>

        </form>

    </div>

</body>

</html>
