<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ویرایش نوشیدنی</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="login-box">

        <h1>ویرایش نوشیدنی</h1>

        <form method="POST">

            <input type="text"
                   name="name"
                   value="{{ drink[1] }}">

            <input type="number"
                   name="price"
                   value="{{ drink[2] }}">

            <input type="text"
                   name="image"
                   value="{{ drink[3] }}">

            <input type="text"
                   name="category"
                   value="{{ drink[4] }}">

            <button type="submit">

                ذخیره تغییرات

            </button>

        </form>

    </div>

</body>

</html>